.app-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 
    var(--tg-viewport-stable-inset-top, 0)
    var(--tg-viewport-stable-inset-right, 0)
    var(--tg-viewport-stable-inset-bottom, 0)
    var(--tg-viewport-stable-inset-left, 0);
  
  background:url('../src/assets/Three_Pallet.jpg');
  z-index: -1; /* Важно! */
  overflow: auto;
}

/* Перебиваем стили Telegram */
.WebAppHeader {
  display: none !important;
}

.content {
  padding: 20px;
  min-height: 100vh;
  position: relative; /* Для корректного z-index */
  z-index: 1; /* Контент поверх фона */
  color: white; /* Пример для контраста */
}

.bot-info {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
}