/* Полное перекрытие фона */
.app-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 
    var(--tg-viewport-stable-inset-top, 0)
    var(--tg-viewport-stable-inset-right, 0)
    var(--tg-viewport-stable-inset-bottom, 0)
    var(--tg-viewport-stable-inset-left, 0);
  
  background: var(--tg-theme-bg-color, #ffffff);
  overflow: auto;
}

.content {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bot-info {
  background: var(--tg-theme-secondary-bg-color, #f4f4f5);
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .app-root {
    padding-bottom: env(safe-area-inset-bottom);
  }
}